package components

templ Footer() {
	// <footer class="footer">
	// 	<div class="container">
	// 		<p><a href="https://github.com/wkdwilliams/" target="_">GitHub</a> | <a href="https://www.linkedin.com/in/lewis-williams-435442131/" target="_">LinkedIn</a></p>
	// 	</div>
	// </footer>
	<!-- Bootstrap JS and Highlight.js -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js" integrity="sha512-6yoqbrcLAHDWAdQmiRlHG4+m0g/CT/V9AGyxabG8j7Jk8j3r3K6due7oqpiRMZqcYe9WM2gPcaNNxnl2ux+3tA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>hljs.highlightAll();</script>
}
