package components

var nav map[templ.SafeURL]string = map[templ.SafeURL]string{
	"/": "Home",
	"/about": "About",
	"/contact": "Contact",
}

templ Header() {
	<header>
		<div class="container">
			<h1>Go Blog</h1>
			<nav>
				<ul>
					for i, v := range nav {
						<li><a href={i}>{v}</a></li>
					}
				</ul>
			</nav>
		</div>
	</header>
}
