package views

import "github.com/wkdwilliams/go-blog/internal/adapters/primary/web/views/components"

templ Main(template templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@components.Head()
		<body>
			<!-- Navbar -->
			@components.Navigation()
			@template
			@components.Footer()
		</body>
	</html>
}
